.overlay {
  background: rgba(10, 10, 10, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--blue-900);
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 800px;
  padding: 2em 3em;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  > div {
    width: auto;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    strong {
      color: var(--gray-100);
    }

    button {
      border: none;
      background: var(--blue-800);
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;

      svg {
        color: var(--gray-100);
        width: 20px;
        height: 20px;
      }

      transition: background 0.2s;

      &:hover {
        background: var(--blue-500);
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;

    main {
      width: 100%;
      flex-wrap: wrap;
      gap: 16px;

      > div {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      label {
        color: var(--gray-100);
      }

      input {
        height: 40px;
        border-radius: 5px;
        font-size: 16px;
      }
    }

    footer {
      display: flex;
      justify-content: center;
      
      button {
        width: 100%;
        height: 40px;
        max-width: 200px;

        border-radius: 5px;

        svg {
          height: 25px;
          width: 25px;
        }
      }
    }
  }
}